<div class="container">
    <div class="row">
    <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1> Add Todo</h1>
            <div  class="customdiv">
            <form class="form-group">
            <div>
                <label>Description</label><br>
                <input type="text" required/>
            </div>
            <br>
            <div>
                <label>Status</label><br>
                <input type="text" required/><br>
            </div>
            <br>
            <button type="button" class="btn btn-primary btn-sm" >Submit</button>
        </form>
    </div> 
    </div>
    <div class="col-lg-3"></div> 
    </div> 

</div>