<div class="container">
        <div class="row">
        <div class="col-lg-3"></div>
            <div class="col-lg-6">
                
                
                <div  class="customdiv">
                <form class="form-group">
                        <h3 style="text-align: center;"> Update Todo</h3>
                <div>
                    <label>Description</label><br>
                    <input type="text" required/>
                </div>
                <br>
                <div>
                    <label>Status</label><br>
                    <input type="text" required/><br>
                </div>
                <br>
                <button type="button" class="btn btn-success btn-sm" routerLink="/todos">Update</button>
            </form>
        
        </div> 
        </div>
        <div class="col-lg-3"></div> 
        </div> 
    
    </div>
